
<mat-card class="example-card">
  <mat-card-content>
  <div [formGroup]="digimonForm" class="form-content">
    <mat-form-field class="example-full-width">
    <mat-label>Nombre:</mat-label>
    <input matInput formControlName="name" placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
    <mat-form-field class="example-full-width">
    <mat-label>Nivel:</mat-label>
    <input matInput formControlName="level" placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
    <mat-form-field class="example-full-width">
    <mat-label>Atributo:</mat-label>
    <input matInput formControlName="atribute" placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
    <mat-form-field class="example-full-width">
    <mat-label>Descripcion:</mat-label>
    <input matInput formControlName="description" placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
    <button [disabled]="!digimonForm.valid" (click)="getDigimon(digimonForm)">obtener datos del filtro</button>
    <button (click)="cleanDigimon()">eliminar datos del filtro</button>
  </div>
  </mat-card-content>
  <mat-card-actions>

  </mat-card-actions>
 </mat-card>
    <!-- <mat-card-actions>
      <button *ngFor="let item of cardConfig.actions">
            {{item}}
        </button>
    </mat-card-actions> -->

  
