@import '../assets/scss/variables.scss';

.header-container{
    display:flex;
    flex-direction: row;
    justify-content: left;
    transition: justify-content 3s;
    :hover {
        display:flex;
        justify-content: center;
    }
    .logo {
        background-image: url("../assets/img/digimon.svg");
        width: 200px;
        height: 100px;
    }
    .text-header{
        font-size: 2rem;
    }
}















// .header{
//     display: flex;
//     flex-direction: row;
//     justify-content: center;
//     color: rgb(20, 19, 19);
//     font-size: 2rem;
//     .subheader{
//         color: aqua;
        
//     }
// }