<!-- <div class="header" id="header">
    Hola mundo!
    <span  class="subheader">{{title}}</span>
</div>
<div class="redirect">
  <button routerLink="/home" >home</button>
</div> -->
<!-- --------------------------------------------- -->
<!-- <app-card [cardConfig]="cardConfig"></app-card> -->

<div class="header-container">
  <img src="{{logoUrl}}" width="200px" height="60px">
</div>
<app-card [cardConfig]="cardConfig" (filterBy)="searchByFilter($event)"></app-card>
<router-outlet></router-outlet>